.App {
    text-align: center;
    display: flex;
    overflow: scroll;
}

.mainContent {
    margin-top: 4rem;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
}

.main-content {
    margin: 4.4rem 5rem;
    position: absolute;
}

.main-content .pair-value {
    margin-top: -8px;
    font-weight: 500;
    font-size: 18px;
}

.main-content .fab-action-button {
    height: 28px;
    width: 28px;
    font-size: 14px;
}

.main-content .add-button {
    color: green;
}

.main-content .minus-button {
    color: red;
}

.teamInfoTextBox {
    width: 20rem;
}

.inputInfo {
    padding: 1rem 2rem 0.5rem 2rem;
}

.inputInfo > .saveInfoButton {
    float: right;
    margin-left: 16.5rem;
}

.viewTeamDetail {
    text-align: left;
}