.App {
    text-align: center;
    display: flex;
    overflow: scroll;
}

.mainContent {
    margin-top: 4rem;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
}

.main-content {
    margin: 4.4rem 5rem;
    position: absolute;
}

.main-content .pair-value {
    margin-top: -8px;
    font-weight: 500;
    font-size: 18px;
}

.main-content .fab-action-button {
    height: 28px;
    width: 28px;
    font-size: 14px;
}

.main-content .add-button {
    color: green;
}

.main-content .minus-button {
    color: red;
}

.teamInfoTextBox {
    width: 25rem;
}

.inputInfo {
    padding: 1rem 2rem 0.5rem 2rem;
}

.inputInfo > .saveInfoButton {
    float: right;
    margin-left: 21.8rem;
}

#save-team-detail-button {
    margin-left: 16.5rem;
}

#save-existing-team-button {
    margin-left: 1rem;
}

.viewTeamDetail {
    text-align: left;
    padding-left: 0.5rem;
}
.teamInfo {
    margin-bottom: 1rem;
    padding: 2rem 4rem;
}

.addMember {
    margin-bottom: 1rem;
    padding: 1.5rem;
    align-items: center;
    text-align: center;
}

.teamInfoWrapper {
    padding-left: 1rem;
}

.addMemberBlock {
    padding-left: 1rem;
    padding-top: 0.75rem;
}

.allTeamDetail {
    text-align: left;
    padding: 1.5rem;
}

.selectExistingTeam {
    width: 10rem;
}

.selectBoxForTeams {
    min-width: 15rem;
}

.selectTeamFromExisting {
    padding: 1.5rem 3.5rem 1.5rem 1.5rem;
}

.promptHeading {
    text-align: left;
}

#remove-team-button {
    margin-left: 11.5rem;
    margin-top: 0.55rem;
}