.App {
    text-align: center;
    display: flex;
    overflow: scroll;
}

.topLeft {
    margin-top: 4rem;
}

.main-content {
    margin-top: -558px;
    z-index: 9;
    margin-left: 80px;
    position: absolute;
}

.main-content .pair-value {
    margin-top: -8px;
    font-weight: 500;
    font-size: 18px;
}

.main-content .fab-action-button {
    height: 28px;
    width: 28px;
    font-size: 14px;
}

.main-content .add-button {
    color: green;
}

.main-content .minus-button {
    color: red;
}